<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body class="container">
    <h1>About</h1>

    <a class="btn btn-primary btn-sm mb-3" href="/showAll">Go to administration</a>
    <a class="btn btn-primary btn-sm mb-3" href="/about">About project</a>
    <a class="btn btn-primary btn-sm mb-3" href="/contact">Contact</a>

    <p>
        This project was developed as part of a Java Junior Developer course. It uses the Spring Boot framework to build the web application,
        JPA (Java Persistence API) for working with a MySQL database, and the Thymeleaf templating engine to integrate HTML forms with the backend.
    </p>


</body>
</html>