<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body class="container">
    <h1>Welcome to main page</h1>
    <a class="btn btn-primary btn-sm mb-3" href="/showAll">Go to administration</a>
    <a class="btn btn-primary btn-sm mb-3" href="/about">About project</a>
    <a class="btn btn-primary btn-sm mb-3" href="/contact">Contact</a>

    <p>
        This page serves as an administrative interface for managing employees within the company’s internal database.<br><br>

        – View a list of all employees with details such as first name, last name, email, date of birth, company, bio, and photo.<br>
        – Add new employees or companies using form-based input.<br>
        – Edit existing employee records (via the Edit button).<br>
        – Delete entries (via the Delete button).<br>
        – Manage data in a modern, user-friendly table layout.
    </p>


</body>
</html>